<div class="col s12">

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ea eius at iure molestias in officia quae repellendus sed inventore. Nesciunt delectus odit similique officia labore expedita quo, ipsa quasi!

</div>