<div class="container p-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-body">
        <form action="/links/edit/{{cargo.ID_CARGO}}" method="post">
            <div class="form-group">
                <input type="text" value="{{cargo.NOMBRE_UNIDAD}}" class="form-control" name="title" placeholder="Titulo" autofocus>
            </div>

            <div class="form-group">
                <input type="text" value="" class="form-control" name="url" placeholder="URL://" autofocus>
            </div>

            <div class="form-group">
                <textarea name="description" rows="2" class="form-control" placeholder="Descripcion">{{cargo.NOMBRE_UNIDAD}}</textarea>
            </div>

            <div class="form-group">
              <button class="btn btn-info" type="submit">
                SAVE
              </button>
            </div>


        </form>
      </div>
    </div>
  </div>
</div>
