<div class="cotainer p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Suscribirse</h3>
        </div>
        <div class="card-body">
          <form action="/signup" method="post">
            <div class="form-group">
              <input type="text" name="nombres" class="form-control" placeholder="Nombre(s)" autofocus>
            </div>
            <div class="form-group">
              <input type="text" name="apellidoPat" class="form-control" placeholder="Apellido Paterno" >
            </div>
            <div class="form-group">
              <input type="text" name="apellidoMat" class="form-control" placeholder="Apellido Materno" >
            </div>
            <div class="form-group">
              <input type="text" name="celular" class="form-control" placeholder="Celular" >
            </div>
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="Username" >
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password" >
            </div>

            <div class="form-group">
              <button class="btn btn-block btn-success" type="submit" >
                SIGNUP
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
