<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Upload Image</title>

    <%- include('partials/head') %>

</head>
<body>

	<%- include('partials/menu') %>

	<div class="container">

		<div class="row">
			<div class="col s12">
				<form action="/upload" class="col s12" method="POST" enctype="multipart/form-data">
					<div class="input-field col s12">
						<input type="text" name="title" placeholder="Title">
						<label for="">Titulo</label>
					</div>

			        <div class="input-field col s12">
			          <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
			          <label for="textarea1">Descripcion</label>
			        </div>

					<div class="input-field col s12">
						<div class="file-field input-field">
					      <div class="btn btn-small teal darken-3">
					        <span>File</span>
					        <input type="file" multiple name ="image">
					      </div>
					      <div class="file-path-wrapper">
					        <input class="file-path validate" type="text" placeholder="Sube tu imagen" name ="image">
					      </div>
					    </div>
					</div>

					<div class="input-field col s12">
						<button class="btn waves-effect waves-light teal darken-3" type="submit" name="action">Subir
							<i class="material-icons right">file_upload</i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

