<nav class="blue-grey lighten-1">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo center">FinteresT</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li> <a href="/"><i class="material-icons left">home</i> Inicio</a> </li>
			<li><a href="/upload"><i class="material-icons left">file_upload</i> Upload Image</a></li>

		</ul>
	</div>
</nav>
