<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-body">
          <h3>Wellcome {{user.NOMBRE_SITIO}}</h3>
          <h4>{{user.SIGLA}}</h4>
          <a href="/links/add" class="btn btn-info"> + cargos</a>
        </div>
      </div>
    </div>
  </div>
</div>
